@import "styles/variables.module.scss";
.container {
}
.cards-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-lg;
}
.tree-container {
    min-height:400px;
    display: grid;
    position: relative;
}

.cards-container {
    row-gap: $sp-xxl;
    display: flex;
    flex-direction: column;
    // overflow-y: auto;
}

.pod-container {
    min-height:200px;
}