@import "styles/variables.module.scss";
@import "styles/mixins.scss";
.container {
    overflow: auto;
    height: 100%;
    @include hide-scroll;
    position: relative;
}
// disallow scrolling when table is open
.locked {
    overflow: hidden !important;
}
.cards-container {
    row-gap: $sp-xxl;
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 4;
    position: relative;
}