@import "styles/variables.module.scss";
.container {
    width:100%;
    height:100%;
    border-radius: $sp-base * 2;
    position: relative;
}

.size-btn {
    z-index: 100000;
    position: absolute;
    top: $sp-base * 2;
    right: $sp-base * 2;
}

.size-btn-active {
    background-color: $primary-500;
    color:$white;
}

.skeleton-container {
    width:100%;
    height:100%;
    border-radius: $sp-base * 2;
    position: relative;
    overflow: hidden;
}