@import "styles/variables.module.scss";
@import "styles/mixins";

.container {
    border:1px solid $grey-800;
    border-radius: $sp-base * 2;display: flex;
    flex-direction: column;
}

.header {
    @include card-header;

}
.exception-parent {
    color:$error-500 !important;
}
.tree {
    position: relative;
    height:100%;
    flex:1;
    padding:$sp-base $sp-base * 2;
    :global(.Mui-expanded){
        margin:0;
    }
    :global(.MuiAccordionSummary-content){
        margin: 0;
        margin-bottom: $sp-base;
    }
    :global(.MuiAccordionSummary-content:last-child){
        margin-bottom:0;
    }
    padding-bottom: $sp-base * 4;
    border-bottom: 1px solid $grey-800;
}

.accordion {
    border:none;
    height:100%;
}

.accordion-summary {
    background-color: $bg-dark;
    margin:0 !important;
    padding-left: $sp-base;
    justify-content: space-between;
    width:100%;
    min-height: 0px !important;
    padding:0;
}

.accordion-summary-content {
    display: flex;

}
.last-child {
    margin:$sp-base 0;
}


.accordion-label {
    color:$grey-25;
    cursor: pointer;
    &:hover {
        color:$primary-500;
    }
}

.latency {
    color:$grey-25;
    width:100px;
}
.accordion-details {
    border:none;
    padding:0 $sp-base * 2;
    // border-left: 1px solid $grey-700;
    background-color: $bg-dark;
}

.last-child {
    padding: 0 $sp-base;  
    display: flex;
}

.close-button {
    position: absolute;
    top: $sp-base * 3;
    right: 700px;
    cursor: pointer;
    z-index: 5000;
    background-color: $grey-700;
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    width:24px;
    border-radius: $sp-base;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.close-icon {
    color:$grey-300;
    font-size: $font-lg;
}

.accordion-row {
    display:grid;
    grid-template-columns: 2fr 2fr;
}

.accordion-summary, .last-child {
    display: flex;
    align-items: center;
    position: relative;
}

.timeline {
    flex: 1;
    display: flex;
    align-items: center;
    p {
        height:$sp-base;
        background-color: #569CD7;
    }
}