@import "styles/variables.module.scss";
@import "styles/mixins";

.container {
    
}

.header {
    @include card-header;
}

.tree {
    height:calc(100vh - $header-height - $sp-base * 52);
    position: relative;
    padding:$sp-base * 3;
    :global(.Mui-expanded){
        margin:$sp-base;
    }
    :global(.MuiAccordionSummary-content){
        margin:$sp-base 0;
    }
    :global(.MuiAccordionSummary-content:last-child){
        margin-bottom:0;
    }
}

.accordion {
    background-color: $bg-dark;
    border:none;
}

.accordion-summary {
    background-color: $bg-dark;
    margin:0 !important;
    padding-left: $sp-base;
    justify-content: space-between;
    width:100%;
    min-height: 0px !important;
    padding:0;
}

.accordion-summary-content {
    display: flex;
    width:40%;
    justify-content: space-between;
}

.accordion-label {
    color:$grey-25;
    cursor: pointer;
    &:hover {
        color:$primary-500;
    }
}

.latency {
    color:$grey-25;
    text-align: right;
}
.accordion-details {
    border:none;
    padding:0 $sp-base * 2;
    // border-left: 1px solid $grey-700;
    background-color: $bg-dark;
}

.last-child {
    padding: $sp-base $sp-base * 4;  
}

.close-button {
    position: absolute;
    top: $sp-base * 3;
    right: 700px;
    cursor: pointer;
    z-index: 5000;
    background-color: $grey-700;
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    width:24px;
    border-radius: $sp-base;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.close-icon {
    color:$grey-300;
    font-size: $font-lg;
}