@import "styles/variables.module.scss";
.container {
    // height:22px;
    width:fit-content;
    padding:$sp-base / 2 $sp-base * 2;
    border-radius: $sp-base;
    font-weight: 500;
    font-size: $font-sm;
    color:$grey-200;
}

.upper {
    text-transform: uppercase;
}

.secondary {
    background-color: $grey-900;
}

.primary {
    background-color: $primary-500;
}

.success {
    background-color: $primary-700;
}

.warning {
    border:1px solid $warning-700;
}