@import "styles/variables.module.scss";
@import "styles/mixins";
.service-card-container {
    width:300px;
    p {
        font-size: $font-md;
    }
    border:1px solid $grey-600;
    background-color: $grey-900;
    border-radius: $sp-base;
    padding:$sp-lg $sp-lg;
    display: flex;
    flex-direction: column;
    row-gap: $sp-xl;
    position: relative;
    a {
       width: fit-content;
    }
    .service-card-item-label {
        font-size: $font-sm - 1;
        color:$grey-100;
        font-weight: 500;
    }
}

.service-name-container {
    cursor: pointer;
}

.service-card-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $sp-lg;
    row-gap: $sp-md;
}

.service-card-item-value,.service-name, .service-namespace  {
    color:$white;
}
