@import "styles/variables.module.scss";
.container {
}
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $sp-xl;
    row-gap: $sp-xxxl;

}

.skeleton-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $sp-xl;
    row-gap: $sp-xxxl;
    width:100%;
}
.skeleton {
    height:220px;
    width:100%;
}

@media only screen and (max-width: $bp-desktop) {
    .services-container {
        padding:0 $sp-xl;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skeleton-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}