@import "styles/variables.module.scss";
.container {
    :global(.MuiPaper-root) {
        min-width: 600px;
        background-color: $grey-925;
        border:1px solid $grey-900;
        border-radius: $sp-base * 2;
      }
  :global(.MuiDialog-paper){
    background-image: none;
  }
}


.dialog-content {
    border-top: 1px solid $grey-500;
    padding: $sp-base * 4 $sp-base * 6;
    color: $grey-50;
  }
.dialog-actions {
  padding-bottom: $sp-base * 4;;
}

.title {
  color:$grey-25;
}