@import "styles/variables.module.scss";
.container {
}

.form-container {
  width: 80%;
  max-width: $max-form-width;
  border-radius: $br-lg;
  border: 1px solid rgba($primary-500, 0.6);
  margin: 0 auto;
  margin-top: 20vh;
  padding:$sp-xxl;
}


