@import "styles/variables.module.scss";
.container {
    // background-color: $grey-800;
    cursor: pointer;
    padding:$sp-sm $sp-md;
    display: flex;
    column-gap: $sp-sm;
    border-radius: $sp-sm;
    color:$grey-50;
    // border-radius: 50%;
    display: flex;
  
    justify-content: center;
    align-items: center;
    border:1px solid $grey-800;
    &:hover {
        background-color: $grey-925;
    }
}

.icon {
    color:$grey-50;
}


.menu {
    margin-top: $sp-base;
   
    :global(.MuiMenu-paper){
        width:220px;
        border:1px solid $grey-800;
    }
}

.menu-item {
    display: flex;
    align-items: center;
    column-gap: $sp-md;
}
