@import "styles/variables.module.scss";
.services-menu-btn {
    background-color: $grey-950;
    border:1px solid $grey-700;
    color:$white;
    display: flex;
    align-items: center;
    height:$sp-base * 10;
    column-gap: $sp-base * 2;
    padding:$sp-base * 2 $sp-base * 3;
    &:hover {
        background-color: $grey-900;
    border:1px solid $grey-700;
    color:$white;
    }
    
}
.services-menu {
    :global(.MuiMenu-list){
        height:280px !important;
        background-color: $grey-900;
    }
}
.services-select-icon {
    width:12px;
    height:12px;
    display: flex;
    align-items: center;
    > img {
        width:10px;
        height: 8px;
    }
}

.services-menu-item {
    padding:$sp-base * 2 $sp-base * 3;
    color:$grey-25;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: flex;
    column-gap: $sp-base * 2;
    align-items: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.services-list {
    height: 80%;
    overflow: auto;
}

.services-action-container {
    flex:1;
    // display: flex;
    padding:$sp-base * 3;
    height:fit-content;
}

.services-skeleton-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base;
}
