@import "styles/variables.module.scss";
.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

.drawer-container {
  min-width:$main-drawer-width-mini;
  max-width: $main-drawer-width-full;
  height: 100vh;
  background-color: $grey-400;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 100%;
  padding: 2 * $sp-base 6 * $sp-base;
}

.page-content {
  background-color: $grey-900;
  flex: 1;
}
