@import "styles/variables.module.scss";
.container {
  // :global(.MuiOutlinedInput-notchedOutline) {
  //   border: none;
  //   padding-left: 0;
  //   border-bottom-left-radius: 0;
  //   border-bottom-right-radius: 0;
  // }
  // :global(.MuiSelect-outlined) {
  //   padding-left: 0;
  // }
  // :global(.Mui-focused) {
  //   :global(.MuiOutlinedInput-notchedOutline) {
  //     border: none !important;
  //   }
  // }
}

.select {
  width: 100%;
  border: none;
}

.minimized {
  padding: $sp-base;
}

.select-icon {
  color: $white;
  font-size: $font-lg;
  font-weight: 500;
}

.new-cluster-item {
  display: flex;
  column-gap: $sp-base * 2;
  color: $grey-50;
}
