@import "styles/variables.module.scss";
.container {
  .select{
    :global(.MuiMenu-list){
      background-color: $white !important;
    color:$white;
    }
    :global(.Mui-disabled){
      color:$grey-25;
    }
  }
}

.menu-header {
  color:$grey-25;
  font-size: $font-md;
  padding:$sp-base $sp-base * 3;
}

.select {
  width: 100%;
  border: none;
  // :global(.MuiOutlinedInput-notchedOutline) {
  //   border-color:$grey-800;
  // }
}

.minimized {
  padding: $sp-base;
}

.select-icon {
  color: $white;
  font-size: $font-lg;
  font-weight: 500;
}

.new-cluster-item {
  display: flex;
  column-gap: $sp-base * 2;
  color: $grey-50;
}

.menu-divider {
  margin-bottom: $sp-base * 2;
}