@import "styles/variables.module.scss";
.container {
    display: flex;
    flex-direction: column;
    height:calc(100vh - $header-height - $sp-base * 26);
}

.map-container {
    height:50%;
}

.max-map-container {
    .map-container {
        height:100%;
    }
}