@import "styles/variables.module.scss";
.container {
}

.table-container {
    height:$full-table-height;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}