@import "styles/variables.module.scss";
.container {
    :global(.MuiOutlinedInput-notchedOutline ) {
        border-color: $grey-700;
        &:hover {
            border-color: $grey-300;
        }
    }
}

.search-icon {
    width: $sp-xxl;
    height: $sp-xxl;
    > img {
        width: 100%;
        height: 100%;
    }
}

.input {
    & ::placeholder {
        color:$white !important;
    }
    
}