@import "styles/variables.module.scss";

.tabs {
    display: flex;
    align-items: center;
    .tab {
        color:$grey-300;
        font-weight: 500;
    }
    .selected {
        color:$grey-25;
    }
    
}


.tab-content {
    padding:$sp-lg 0;
    display: grid;
    column-gap: $sp-lg;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: $sp-lg;
    justify-content: flex-start;
    @media only screen and (max-width: $bp-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
