@import "styles/variables.module.scss";
.container {
    width:$modal-width-mini;
    
}

.container, .field {
    display: flex;
    flex-direction: column;
    row-gap: $sp-md;
}

.error {
    color: $error-500;
}