@import "styles/variables.module.scss";
.container {
    margin: $sp-base * 5 $sp-base * 3;
}

.service-pod {
    color:$primary-500;
    cursor: pointer;
}

.skeleton-row {
    margin:$sp-base * 2;
}