@import "styles/variables.module.scss";
.container {
    width:20px;
    height:20px;
    border:1px solid $grey-800;
    border-radius: 2px;
    cursor: pointer;
    transition:background-color 0.1s ease-in-out;
    position: relative;
}

.checked {
    background-color: $primary-500;
}

.icon {
    color: $white;
    font-size: 14px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.checkbox {
    width: 100%;
    height: 100%;
    background-color: $grey-900;
    border-radius: 2px;
    opacity: 0;
    cursor: pointer;
}