@import "styles/variables.module.scss";

@import "styles/mixins";
.container {
    width: fit-content;
  height:fit-content;
  background-color: $grey-900;
  border-radius: $sp-sm;
}


.modal-content {
    padding: $sp-lg $sp-xxl;
  }
  
  .modal {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: $sp-lg $sp-xxl;
    border-bottom: 1px solid $grey-800;
    align-items: center;
  }
  
  .modal-close-icon {
    color: $grey-25;
    @include remove-icon-btn-styles;
  }
  