@import 'styles/variables.module.scss';

.container {
    margin-top: $sp-lg;
    span,p,div {
        color:$grey-50;
    }
    .slack-title {
        display: flex;
        align-items: center;
        column-gap: $sp-sm;
    }
}

.slack-image {
    display: flex;
    align-items: center;
}

.channels-container {
    display: flex;
    column-gap: $sp-sm;
    margin-top: $sp-lg;
    padding-bottom: $sp-sm;
    border-bottom: 1px solid $grey-700;
    position: relative;
}

.channels {
    display: flex;
    column-gap: $sp-sm;
}

.channels-input {
    input {
        background-color: $bg-dark;
        border:none;
        // border-bottom: 1px solid $grey-700;
        color:$grey-50;
        padding: $sp-sm;
        box-shadow: none;
        transition:all 0.2s ease;
    }
    input:focus {
        outline: none;
        // border-bottom: 1px solid $grey-600;
    }

}
.channels-menu {
    position: absolute;
    top:50px;
    z-index: 9999;
    width:500px;
    left:0;
    padding:$sp-sm 0;
    background-color: $grey-900;
}

.test {
    position: absolute;
}

.channel-item {
    cursor: pointer;
    display: flex;
    column-gap: $sp-sm;
    padding:$sp-sm $sp-sm;
    &:hover {
        background-color: $grey-925;
    }
}

.channel-type {
    display: flex;
    align-items: center;
    width:30px;
    justify-content: center;
}