@import "styles/variables.module.scss";
.container {
}
.tab-row {
    display: flex;
    column-gap: $sp-base * 8;
    padding:$sp-base * 3 0;
    border-bottom: 1px solid $grey-900;
}

.tab-row-label {
    width:120px;
    color:$grey-100;
}

.tab-row-value {
    color:$white;
}