@import "styles/variables.module.scss";
.container {
}
.tab-row {
    display: flex;
    column-gap: $sp-base * 8;
    padding:$sp-base * 3 0;
    border-bottom: 1px solid $grey-900;
   
    .sql-table-container {
        max-height:500px !important;
        overflow-y: auto;
    }
}

.tab-row-label {
    width:15%;
    color:$grey-100;
}

.tab-row-value {
    color:$white;
    width:80%;
}

.tabs-skeleton-header {
    display: flex;
    column-gap: $sp-base * 2;
    .tabs-skeleton-header-item {
        width:140px;
        height:60px;
    }
}

.tabs-skeleton-content-item {
    height:40px;
}