@import "styles/variables.module.scss";
@mixin label-large {
  font-weight: 500;
  line-height: $default-line-height;
  letter-spacing: 0.2px;
}

@mixin node-default {
  background-color: $grey-950;
  color: $grey-25;
  width:$node-width;
  height:$node-height;
  font-size: $font-sm;
  letter-spacing: 0.2px;
  border-radius: $sp-base;
  text-align: center;
  line-height: $default-line-height;
  padding:$sp-sm;
}

@mixin logo-md {
  width: $sp-xl;
  height: $sp-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  > img {
    width: $sp-xl;
    height: $sp-xl;
  }
}

@mixin icon-xs {
  width: $sp-md;
  height: $sp-md;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  > img {
    width: $sp-md;
    height: $sp-md;
  }
}

@mixin remove-icon-btn-styles {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  &:hover {
    border: none;
  }
}

@mixin button-icon {
  display: flex;
  align-items: center;
  column-gap: $sp-sm;
}


@mixin card-header {
  background-color: $grey-900;
  padding:$sp-md;
  border-radius: $sp-sm 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    font-weight: 400;
    color:$grey-25;
  }
  h6 {
    color:$white;
    font-weight: 400;
  }
}

// flex mixins
@mixin flex-center-md {
  display: flex;
  align-items: center;
  column-gap: $sp-md;
}

@mixin flex-center-sm {
  display: flex;
  align-items: center;
  column-gap: $sp-sm;
}

@mixin form-base {
  display: flex;
  flex-direction: column;
  row-gap: $sp-xl;
  margin-bottom: $sp-sm;  
}

@mixin hide-scroll {
  // scrollbars 

  &::-webkit-scrollbar {
    width:0px;
  }
}



// details page
@mixin details-card-outline {
  border-radius: $sp-sm;
  border:1px solid $grey-800;
  background-color: $bg-dark;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;  
}