@import "./variables.module.scss";
.table {
  
  table {
    width: 100%;
  // table-layout: fixed;
    border-spacing: 0;
    border: 1px solid $grey-900;
    overflow-x: auto;
    border-top-left-radius: $sp-base;
    border-top-right-radius: $sp-base;
    border-bottom-left-radius: $sp-sm;
    border-bottom-right-radius: $sp-sm;
    box-shadow: -18px 0px 0px -17px rgba(0, 0, 0, 0.06);

    tbody:last-child {
      border-bottom: none;
    }
  }
}

.table-thead {
  background-color: $grey-900;
  th {
    div {
      line-height: $line-height-small;
    padding: $sp-md $sp-md;
    text-align: start;
    font-size: $font-sm;
    box-shadow: -18px 0px 0px -17px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    letter-spacing: 0.2px;
    }
  }
}

.table-body-td {
    padding:$sp-md;
    color:$grey-25;
    border-bottom: 1px solid $grey-900;
}

.table-td-center-item {
  display: flex;
  justify-content: center;
}