@import "./variables.module.scss";
.table {
  max-width: 100%;
  border-radius: $sp-base * 2;
  table {
    width:100%;
    border-spacing: 0;
    border: 1px solid $grey-900;
  }
}

.table-thead {
  background-color: $grey-900;
  th {
    line-height: $line-height-small;
    padding: $sp-base * 3 $sp-base * 3;
    text-align: start;
    font-size: $font-sm;
    box-shadow: -18px 0px 0px -17px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}

.table-body-td {
    padding:$sp-base * 3;
    color:$grey-25;
    border-bottom: 1px solid $grey-900;
}

.table-td-center-item {
  display: flex;
  justify-content: center;
}