@import "./variables.module.scss";
.form {
  display: flex;
  flex-direction: column;
  row-gap: $sp-xl;
  
}

.form-item {
  display: flex;
  flex-direction: column;
  row-gap: $sp-sm;
  align-items: flex-start;
}

.form-label {
  color: $primary-400;
}

.form-end-link {
  margin-top: $sp-lg;
  font-weight: 500;
}