@import "./variables.module.scss";
.form {
  display: flex;
  flex-direction: column;
  row-gap: $sp-xl;
  
}

.form-item {

}
.form-end-link {
  margin-top: $sp-lg;
  font-weight: 500;
}

.form-error {
  color:lighten($error, 8%);
  font-weight: 300;
  margin-top: $sp-md;
}

