// COLORS

// Primary color - light to dark
$primary-200:#C3F5E8;
$primary-300:#5BDCC6;
$primary-400: #038C8C;
$primary-500:#026E78;

// grey colors - light to dark
$grey-25:#DCEDFD;
$grey-50:#BCD4EB;
$grey-100:#9BB4CC;
$grey-200:#819DB8;
$grey-300:#6887A3;
$grey-400:#506D86;
$grey-500:#49637A;
$grey-600:#3B5166;
$grey-700:#283747;
$grey-800:#1F2B38;
$grey-900:#171F29;
$grey-925:#121522;
$grey-950:#0C0B1B;


// backgrounds
$bg-dark:#0c0b1b;

// status colors

$error-500:#ff3932;
$error-400:#ff7765;
$error-300:#ff9d83;
$error-200:#ffc4ad;
$error-100:#ffc4ad;

$success-500:#02A480;
$success-400:#04Bf84;
$success-300:#39d896;
$success-200:#97f8ba;
$success-100:#cafbd4;


$error:#FF3932;
$success:#04BF84;
$warning:#F79009;

// status borders
$error-border:#FF7765;
$success-border:#39D89C;
$warning-border:#FDB022;
$primary-border:#5BDCC6;

// common
$white:#fff;
$black:#000;


// SPACING
$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 12px;
$sp-lg: 16px;
$sp-xl: 20px;
$sp-xxl: 24px;
$sp-xxxl: 32px;
$sp-xxxl: 48px;


// component specific widths and heights
$input-height: 40px;
$input-label-line-height:24px;
$button-height-default:40px;

// BORDER RADIUS
$br-xs:2px;
$br-sm:4px;
$br-md:6px;
$br-lg:8px;
$br-xl:12px;

// FONT SIZES
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

// BREAKPOINTS
$bp-laptop:1376px;
$bp-desktop:1440px;
$bp-xl:1920px;

// form variables
$max-form-width:500px;


// component widths
$main-drawer-width-full:260px;
$main-drawer-width-mini:60px;
$header-width:60px;


:export{
    primary200:$primary-200;
    primary300:$primary-300;
    primary400:$primary-400;
    primary500:$primary-500;
    // greys
    grey25:$grey-25;
    grey50:$grey-50;
    grey100:$grey-100;
    grey200:$grey-200;
    grey300:$grey-300;
    grey400:$grey-400;
    grey500:$grey-500;
    grey600:$grey-600;
    grey700:$grey-700;
    grey800:$grey-800;
    grey900:$grey-900;
    grey925:$grey-925;
    grey950:$grey-950;
    // status
    errorColor:$error;
    successColor:$success;
    warningColor:$warning;
    // common
    white:$white;
    black:$black;
    // backgrounds
    backgroundDark:$bg-dark;
    // component heights
    inputHeight:$input-height;
    inputLabelLineHeight:$input-label-line-height;
    buttonHeightDefault:$button-height-default;
    // spacing
    spXS:$sp-xs;
}


