@import "styles/variables.module.scss";
.container {
    display: flex;
    row-gap: $sp-lg;
    align-items: center;
    color:$grey-25;
    margin-bottom: $sp-md;
    cursor: pointer;
}

.icon {
    font-size: $sp-xxl;margin-right: $sp-lg;
    align-items: center;
}