@import "styles/variables.module.scss";
.container {
    display: flex;
    border-radius: $sp-base;
    border:1px solid $grey-900;
}
.chatbox-logo {
    width:36px;
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    > img {
        width:28px;
        height: 28px;
    }
}

.logo-container {
    flex:1;
    display: flex;
    justify-content: center;
}

.text-container {
    width:95%;
    height:calc(100vh - $header-height - $sp-base * 60);
    overflow-y: scroll;
    font-family:"Source Code Pro", monospace;
    color:$grey-50;
    font-weight: 400;
    line-height: $default-line-height;
}