@import "styles/variables.module.scss";
.container {
}

.content-container {
}

.services-btn {
    width:150px;
    display: flex;
    justify-content: flex-start;
}

.services-container {
    padding-top: $sp-base * 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $sp-base * 5;
    row-gap: $sp-base * 7;
}

.skeleton-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $sp-base * 5;
    row-gap: $sp-base * 7;
    width:100%;
}
.skeleton {
    height:210px;
    width:100%;
}

.service {

}