@import "styles/variables.module.scss";
@import "styles/mixins";
.container {
    display: flex;
    padding: $sp-xs * 2.5 $sp-xs * 5;
    align-items: center;
    column-gap: $sp-xs * 2.5;
    &:hover {
        background-color: $grey-900;
    }

   
}

.icon-container {
    margin:0;
    width:24px;
    height:24px;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        width: 16px;
        height: 16px;
    }
}

.link-label {
    @include label-large;
}

.active {
    box-shadow: -2px 0px 0px 0px $primary-500 inset;
    background-color: $grey-900;
    .link-label {
        color:$primary-500;
    }
}