@import "styles/variables.module.scss";
@import "styles/mixins";
.header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: $sp-base * 6;
}
.key-button {
    @include button-icon;
}
.key-icon {
    font-size: $sp-base * 4;
}

.api-icons-container {
  display: flex;
  column-gap: $sp-base * 4;
}

.delete-button {
  @include remove-icon-btn-styles;
  color: $grey-500;
}