@import "styles/variables.module.scss";
.container {
    display: flex;
    column-gap: $sp-base * 2;
    align-items: center;
    flex-wrap: wrap;
    row-gap: $sp-base * 2;
    margin-bottom: $sp-base * 4;
}
