@import "styles/variables.module.scss";
.container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 4;
    margin-bottom: $sp-base * 3;
}
.top-row {
    display: flex;
    column-gap: $sp-base * 3;
    align-items: center;
   
    h3 {
        color:$white;
        margin-right: $sp-base * 2;
    }
}

.extras {
    display: flex;
    column-gap: $sp-base * 3;
    align-items: center;
}
