@import "styles/variables.module.scss";
.container {
  :global(.MuiDrawer-paper) {
    border-right: 1px solid $grey-700;
  }
}
.header-container {
  border-bottom: 1px solid $grey-800;
}
.logo-container {
  width: 100%;
  // height:70px;
  padding: $sp-lg;

  > img {
    width: auto;
    height: 30px;
  }
}

.navigation-container {
  padding-top: $sp-sm;
  display: flex;
  flex-direction: column;
  row-gap: $sp-sm;
}
