@import "styles/variables.module.scss";

.content {
    border-radius: $sp-sm;
    border:1px solid $grey-900;
    width:100%;
    overflow-x: hidden;
    height:calc(100vh - $header-height - $sp-base * 32);
}