@import "styles/variables.module.scss";

.filters-btn {
    display: flex;
    column-gap: $sp-base;
    padding: $sp-base * 2.5 $sp-base * 3; 
    background-color: $bg-dark;
    border:1px solid $grey-700;
    &:hover {
        background-color: $bg-dark;
        border:1px solid $grey-300;
    }
}