@import "styles/variables.module.scss";
.container {
    span {
        color:$grey-50;
    }
    .disabled {
        color:$grey-400;
    }
}

.scenario-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: $sp-md;
}

.scenario-title {
    display: flex;
    align-items: center;
    column-gap: $sp-md;
}

.source {
    display: flex;
    align-items: center;
    column-gap: $sp-base;
    >img {
        height: $sp-xxl;
        width:$sp-xxl;
    }
    span {
        color:$grey-50;
    }
}

.table {
    min-height:70vh;
    overflow-y: auto;
    border-radius: $sp-sm;
    margin-bottom: $sp-xxl;
}

.pagination {
    padding-top: $sp-lg;
    display: flex;
    justify-content:center;
}



.action-item {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: $sp-md;
}

.switch {
    margin:0;
}