@import "styles/variables.module.scss";

.container {
    position: relative;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition:all 0.3 ease;
}

.resizable {
    overflow: hidden;
}

.minimized {
    width:64px;
}

.chat-box-container {
    // height:300px;
    height: calc(100vh - 100px);
    padding:$sp-base * 5;
    overflow-y: auto;
    border-bottom: 1px solid $grey-800;
    @media screen and (max-width: ($bp-desktop)) {
        padding:$sp-base * 3;
    }
}

.chat-input-container {
    flex:1;
    padding:$sp-base * 5;
}


.logo-container {
    display: flex;
    justify-content: center;
}

.text-container {
    font-weight: 400;
    line-height: $default-line-height;
    white-space: pre-line;
    word-break: break-word;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 3;
}

.chat-input {
    background-color: $grey-925;
    // border:1px solid $grey-600;
    ::placeholder {
        color:$grey-200 !important;
    }  
}

.send-icon {
    display: flex;
    align-items: center;
    margin-right: $sp-base * 1.5;
    cursor: pointer;
}

.chat-qa-container {
    padding:0 $sp-base * 4;
}


.text-boxes {
    display: flex;
    row-gap: $sp-base * 2;
    flex-direction: column;
}

.mini-icon {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.expand-icon {
    font-size: $sp-base * 8;
    color:$grey-25;
}