@import "styles/variables.module.scss";

.container {
    position: relative;
    width:500px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    transition:all 0.3 ease;
    @media screen and (max-width: ($bp-desktop)) {
        width:450px;
    }
}

.minimized {
    width:64px;
}

.chat-box-container {
    // height:300px;
    height: 90%;
    padding:$sp-base * 5;
    overflow-y: auto;
    @media screen and (max-width: ($bp-desktop)) {
        padding:$sp-base * 3;
    }
}

.chat-input-container {
    flex:1;
    position: relative;
    padding:0 $sp-base * 5;
    padding-bottom: $sp-base * 5;
}

.input-container {
    position: relative;
}


.logo-container {
    display: flex;
    justify-content: center;
}

.text-container {
    font-weight: 400;
    line-height: $default-line-height;
    white-space: pre-line;
    word-break: break-word;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 3;
}

.chat-input {
    background-color: $grey-925;
    // border:1px solid $grey-600;
    ::placeholder {
        color:$grey-200 !important;
    }  
}

.send-icon {
    display: flex;
    align-items: center;
    margin-right: $sp-base * 1.5;
    cursor: pointer;
}

.chat-qa-container {
    padding:0 $sp-base * 4;
}

.chat-question-container,.chat-answer-container {
    .chat-question,.chat-answer {
        color:$white;
        padding-left: $sp-base * 3;
    }
}

.user-query-card {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 5;
    margin-bottom: $sp-base * 2;
    background-color: $grey-900;
    border-radius: $sp-base;
    padding:$sp-base * 5;
    border:1px solid #32343A;
    font-size: $font-lg;
    p {
        color:$white;
    }
}
.text-boxes {
    display: flex;
    row-gap: $sp-base * 2;
    flex-direction: column;
}

.tag-text {
    // background-color: #24313b;
    background-color: $grey-950;
    padding:$sp-base;
    border-radius: $sp-base;
    color:$grey-100;
    // color:#1d9bd1;
    cursor: pointer;
}

.mini-icon {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.expand-icon {
    font-size: $sp-base * 8;
    color:$grey-25;
}