@import "styles/variables.module.scss";
@import "styles/mixins.scss";
.container {
    height:100%;
    display: flex;
    flex-direction: column;
}

.resizable {
    overflow: hidden;
}

.minimized {
    width:64px;
    cursor: pointer;
}

.chat-container {
    height:100%;

    padding-bottom: 0;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 9.5fr 1fr;

    row-gap: $sp-lg;
    @media screen and (max-width: ($bp-desktop)) {
        padding:$sp-md;
        padding-bottom: 0;
    }
}

.chat-events-container {
    display: flex;
    flex-direction: column;
    padding:$sp-lg $sp-xl;
    padding-bottom: 0;
    row-gap: $sp-md;
    overflow-y: auto;
    // @include hide-scroll;
}
.chat-past-event-btn {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.likely-cause-container {
    padding-bottom: $sp-xl;
    border-bottom:1px solid $grey-700;
    margin-bottom: $sp-sm;
}

.chat-events {
    display: flex;
    flex-direction: column;
    row-gap: $sp-lg;
}





.logo-container {
    display: flex;
    justify-content: center;
}

.text-container {
    font-weight: 400;
    line-height: $default-line-height;
    white-space: pre-line;
    word-break: break-word;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    row-gap: $sp-md;
}

.chat-input {
    background-color: $grey-925;
    // border:1px solid $grey-600;
    ::placeholder {
        color:$grey-200 !important;
    }  
}

.send-icon {
    display: flex;
    align-items: center;
    margin-right: $sp-base * 1.5;
    // cursor: pointer;
}

.chat-qa-container {
    padding:0 $sp-lg;
}


.chat-events {
    display: flex;
    row-gap: $sp-xl;
    flex-direction: column;
}

.mini-icon {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-icon {
    font-size: $sp-32;
    color:$grey-25;
}