@import "styles/variables.module.scss";
.container {
    h3 {
        margin-bottom: $sp-base * 5;
    }
}

.issue-path {
    display: flex;
    column-gap: $sp-base * 2;
    margin:$sp-base * 2 0;
    align-items: center;
}

.issue-title {
    color:$grey-25;
}

.issue-time-container {
    span {
        color:$grey-50;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width:70%;
}

.issue-path-container {
    display: flex;
    column-gap: $sp-base * 2;
}

.issue-title-container {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 4;
}

// SERVICE FILTER SELECTOR



// FILTER BADGES
.active-filters {
    display: flex;
    column-gap: $sp-base * 2;
}

// content
.page-content {
    height:62vh;
    overflow: auto;
    border-bottom:1px solid $grey-900;
    border-radius: $sp-base * 2;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: $sp-base * 6;
}