@import "styles/variables.module.scss";
.container {
    h3 {
        margin-bottom: $sp-base * 5;
    }
}

.issue-path {
    display: flex;
    column-gap: $sp-base * 2;
    margin:$sp-base * 2 0;
    align-items: center;
}

.issue-title {
    color:$grey-25;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width:70%;
}

.issue-description {
    color:$error-300;
}

.issue-info-container {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
    span {
        font-size: $font-sm;
        color:$grey-25;
        display: flex;
        align-items: center;
        column-gap: $sp-base;
    }
}

.issue-path-container {
    display: flex;
    column-gap: $sp-base * 2;
}

.issue-title-container {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 4;
}

.services-menu-btn {
    margin-top: $sp-base * 4;
    margin-bottom: $sp-base * 3;
    background-color: $grey-900;
    border:1px solid $grey-700;
    color:$white;
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
    &:hover {
        background-color: $grey-900;
    border:1px solid $grey-700;
    color:$white;
    }
    
}
.services-menu {
    :global(.MuiMenu-list){
        height:280px !important;
        background-color: $grey-900;
    }
}
.services-select-icon {
    width:12px;
    height:12px;
    display: flex;
    align-items: center;
    > img {
        width:10px;
        height: 8px;
    }
}

.services-menu-item {
    padding:$sp-base * 2 $sp-base * 3;
    color:$grey-25;
}

.services-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.services-list {
    height: 80%;
    overflow: auto;
}

.services-action-container {
    flex:1;
    // display: flex;
    padding:$sp-base * 3;
    height:fit-content;
}

.active-filters {
    display: flex;
    column-gap: $sp-base * 2;
}


.skeleton-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base;
}

.skeleton-header {
    height:50px;
}

.skeleton-row {
    height:40px;
}

.services-skeleton-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 2;
    width:100%;
    height:100%;
    padding:$sp-base * 3;
}

.services-skeleton {
    height:20px;
}