@import "styles/variables.module.scss";
@import "styles/mixins.scss";
.content-container {
    display: flex;
    column-gap: $sp-lg;
    height:$full-page-height;
    overflow: hidden;
}


.chat-section{
    border-radius: $sp-sm;
    overflow: hidden;
    border:1px solid $grey-800;
    transition:width 0.3s ease;
}

.cards-section {
    flex:1;
}


// .lock-scroll {
//     overflow: hidden;
// }