@import "styles/variables.module.scss";
.container {
  span {
    color:$white;
  }
  .select{
    min-width: 300px;
    color: $white;
    :global(.MuiMenu-list){
      background-color: $white !important;
      color:$white;
    }
    :global(.Mui-disabled){
      color:$grey-25;
    }
  }
  :global(.MuiOutlinedInput-notchedOutline ){
    border-color: $grey-700;
}
}

.menu-header {
  color:$grey-25;
  font-size: $font-md;
  padding:$sp-base $sp-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 100%;
  border: none;
  // :global(.MuiOutlinedInput-notchedOutline) {
  //   border-color:$grey-800;
  // }
}

.select-display {
  display: flex;
  align-items: center;
  column-gap: $sp-sm;
  .unhealthy {
    opacity: 0.8;
  }
  .healthy {
    background-color: $primary-500;
  }
}

.select-icon {
  color: $white;
  font-size: $font-lg;
  font-weight: 500;
}

.new-cluster-item {
  display: flex;
  column-gap: $sp-sm;
  color: $grey-50;
}

.menu-divider {
  margin-bottom: $sp-sm;
}

.menu-item {
  display: flex;
  align-items: center;
  column-gap: $sp-sm;
}

.healthy-icon,.error-icon {
  font-size: $font-lg + 2;
  display: flex;
  align-items: center;
}

.status-icon {
  width:10px;
  height:10px;
  border-radius: 16px;
  border:1px solid $grey-500;
  display: inline-block;
}

.healthy {
  background-color: $success-500;
}

.unhealthy {
  background-color: $error-500;
}

.refresh {
  background-color: $grey-925;
  border:none;
  transition:all 0.2s ease;

  &:hover {
    background-color: $grey-900;
    border:none;
  }
}