@import "styles/variables.module.scss";
.container {
   :global(.MuiDrawer-paper){
    width:$main-drawer-width-full;
    border-right: 1px solid $grey-700;
   }
}

.header-container {
    width:100%;
    // height:70px;
    padding:4 * $sp-xs;
    border-bottom: 1px solid $grey-800;
    > img {
        width:auto;
        height:30px;
    }
}

.navigation-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 2;
}