@import "styles/variables.module.scss";
@import "styles/mixins";


// CONTAINER
.container {
    @include details-card-outline;
    .collapsed {
        max-height: 500px;
    }
    z-index: 2;position: relative;
    width:100%;
}
.custom-error-text {
    margin:$sp-lg;
}
.alert {
    background-color: rgba($warning-700,0.2);
    margin:$sp-md 0;
}
.header {
    @include card-header;
    h5 {
        display: flex;
        column-gap: $sp-base * 4;
    }
}
.header-actions {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
}
.expanded {
    padding:$sp-lg;
}
.lock-scroll {
    overflow: hidden;
}


// TREE
.tree {
    flex:1;
    padding:$sp-base $sp-sm;
    overflow-y: auto;
    position: relative;
    :global(.Mui-expanded){
        margin:0;
    }
    :global(.MuiAccordionSummary-content){
        margin: 0;
        margin-bottom: $sp-base;
    }
    :global(.MuiAccordionSummary-content:last-child){
        margin-bottom:0;
    }
    border-bottom: 1px solid $grey-800;
    padding:$sp-md;

}

// LIST MODE
.list-span-container {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.list-span-latency {
    display: flex;
    align-items: center;
    column-gap: $sp-base;
}

// accordion
.accordion {
    border:none;
    border-radius: 0;
    span {
        color:$grey-25;
    }
}

.root-accordion {
    border-left: 1px solid $grey-500 !important;
}

.accordion-summary {
    background-color: $bg-dark;
    margin:0 !important;
    padding-left: $sp-base;
    justify-content: space-between;
    width:100%;
    min-height: 0px !important;
    padding:$sp-base / 2 0;
    border-radius: 0;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $grey-900;
    }
}

.accordion-summary-content {
    display: flex;
}
.last-child {
    margin:$sp-base 0;
    margin-left: - $sp-base;

    height:32px;
    &:hover {
        background-color: $grey-900;
    }
}

.accordion-label-container {
    display: flex;
    column-gap: $sp-sm;
    align-items: center;
    cursor: pointer;
    .operation-name {
        color:$grey-300;
    }
    
}


.latency {
    color:$grey-200;
    width:100px;
}
.accordion-details {
    border:none;
    border-left: 1px solid $grey-700;
    padding:0 $sp-sm;
    padding-right: 0;
    background-color: $bg-dark;
}

.close {
    position: absolute;
    top: $sp-md;
    right: 920px;
}



.accordion-row {
    display:grid;
    grid-template-columns: 2fr 2fr;
}

.accordion-summary, .last-child {
    display: flex;
    align-items: center;
    position: relative;
    
    // padding:$sp-base / 2 0;
}

.selected-span {
   background-color: $grey-900;
   border-radius: $sp-xs / 2;
}

.last-child {
    padding: 0 $sp-md;  
    padding-bottom: $sp-base / 2;
    display: flex;
}


.timeline {
    flex: 1;
    display: flex;
    align-items: center;
    p {
        height:$sp-base;
        background-color: #569CD7;
    }
}

.span-name {
    display: flex;
    align-items: center;
    column-gap: $sp-sm;
}

.span-method {
    font-weight: 600;
    text-transform: uppercase;
    color:$grey-100;
    padding:0 $sp-base * 1.5;
    font-size: smaller;
    line-height: $default-line-height; 
    border-radius: $sp-base / 2;
    line-height: 20px;
    height:20px;
    font-size: $font-xs + 1;
    @media only screen and (max-width: $bp-desktop) {
        font-size: $font-xs;
    }
}

.span-route {
    font-weight: 300;
    // font-style: italic;
    color:$grey-100 !important;
    // font-size: smaller;
}

.trace-btn {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
}

.raw-data-icon {
   width:20px;
   height: 20px;
}

.accordion-label {
    color:$grey-25;
    z-index:1000;
    line-height: 20px;
    font-weight: 500;
    padding-top: $sp-base / 2;
    margin-left: $sp-xs;
    display: flex;
    // display: grid;
    // grid-template-columns: 0.4fr 0.5fr;
    width:100%;
    &:hover {
        color:$primary-500;
    }
}

.span-service,.operation-name {
//    ellipsis
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:fit-content;
    display: block;
    width:fit-content;
}


.operation-name {
    display: flex;
    align-items: center;
    column-gap: $sp-base;
}

.span-service {
    margin-right: $sp-sm;
}