@import "styles/variables.module.scss";
.container {
  border:1px solid $primary-500;
  border-style: dashed;
  width:$node-width;
  height:$node-height;
  background-color: $grey-950;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding:$sp-sm;
  border-radius: $sp-base;
  font-size: $font-md;
 
  span {
    color:$grey-50;
    font-size: $font-md;
  }
  :global(.react-flow__handle ){
    background-color: $primary-500;
  }
}
