@import "styles/variables.module.scss";
.incident-metadata-container {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
    span {
        font-size: $font-sm;
        color:$grey-200;
        display: flex;
        align-items: center;
        column-gap: $sp-base;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    display: flex;
    column-gap: $sp-base * 4;
    height:calc(100vh - $header-height - $sp-base * 40);
}

.detail-container {
    height:100%;
    overflow: auto;
}

.chat-container{
    border-radius: $sp-base * 2;
    height:calc(100vh - $header-height - $sp-base * 40);
    overflow: hidden;
    border:1px solid $grey-800;
    transition:width 0.3s ease;
}

.detail-container {
    flex:1;
}


.lock-scroll {
    overflow: hidden;
}