@import "styles/variables.module.scss";

.header {
    background-color: $bg-dark;
    z-index: 5000;
    transition:all 0.3s ease;
    h3 {
        color:$white;
    }
}
.sticky {
  width: calc(100vw - $main-drawer-width-full - $sp-base * 12);
  position: fixed;
  top: 0;
  transition:all 0.3s ease;
}



.header.sticky {
    animation: slideDown 0.2s ease-out;
    border-bottom: 1px solid $grey-900;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);

}

.drawer-container {
    height:900px;
}

.map-container {
    height:300px;
    position: relative;
    border:1px solid $grey-900;
    border-radius: $sp-base * 2;
    transition: all 0.2s ease;
}

.max-map-container {
    .map-container {
        height:calc(100vh - $header-height - $sp-base * 30);  
    }
}


.incident-metadata-container {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
    span {
        font-size: $font-sm;
        color:$grey-200;
        display: flex;
        align-items: center;
        column-gap: $sp-base;
    }
}





.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.incident-nav-buttons-container {
    display: flex;
    column-gap: $sp-base * 2;
    align-items: center;
}
.incident-nav-iconbutton {
    background-color: transparent;
}

.incident-nav-button {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
}

.incident-nav-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width:16px;
    height:16px;
    > img {
        width:100%;
        height:100%;
    }
}

