@import "styles/variables.module.scss";
.container {
}


.key-value-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 4;
    padding:$sp-base * 4 0;
}

.key-value-row {
    display: grid;
    grid-template-columns: 2fr 7fr;
    align-items: center;
}

.key-value-key,.key-value-value {
    color:$grey-25;
}