@import "styles/variables.module.scss";
.container {
}


.key-value-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 4;
    padding:$sp-base * 4 0;
    justify-content: flex-start;
}

.key-value-row {
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.key-value-key,.key-value-value {
    color:$grey-25;
}

.key-value-key {
    min-width: 120px;
}

.full-width {
    grid-template-columns: 1fr ;
}
