@import "styles/variables.module.scss";
@import "styles/mixins";
.container {
    overflow-y: auto;
    position: relative;
    border:1px solid $grey-800;
    border-radius: $sp-base * 2;
    min-height: calc(100vh - 60px - 160px);
}


.header {
    @include card-header;
}

// entry point


.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    // margin-bottom: $sp-base;
    span,td {
        color:$grey-50;
    }
    .action-delete {
        color:$error-300;
    }
}

.entry-point-container {
    display: flex;
    column-gap: $sp-base * 4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.entry-point {
    
    &:hover {
        color:$primary-500;
    }
}

.table-header {
    th {
        border:none;
        background-color: $grey-925;
       div {
        
        color:$grey-25;
            letter-spacing: 1.5px;
       }
    }
}

.entry-point {
    cursor: pointer;
    display: flex;

}

.pagination-container {
    position: absolute;
    bottom:$sp-base * 7;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: $sp-base * 2;
}

.skeleton-container {
    padding:$sp-base * 3;
    row-gap: $sp-base * 3;
}

.skeleton {
    height:50px;
}