@import "styles/variables.module.scss";
.container {
}

.chat-event-card {
    display: flex;
    align-items: center;
    column-gap: $sp-xl;
    background-color: $grey-900;
    border-radius: $sp-base;
    padding:$sp-lg $sp-xl;
    border:1px solid #32343A;
    p {
        color:$grey-200;
    }
}

.chat-event-icon {
    display: flex;
    align-items: center;
    > img {
        width:32px;
        height:32px;
    }
}

