@import "styles/variables.module.scss";
.container {
    width:1040px;
    margin-top: $sp-md;
    :global(.Mui-disabled){
        -webkit-text-fill-color:$grey-300 !important;
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-xxxl;
}

.add-card-btn {
    margin-top: $sp-xxxl;
    display: flex;
    column-gap: $sp-md;
}

.divider {
    margin: $sp-xxxl auto;
    width: 100%;
    height:1px;
    background-color: $grey-300;
}

// submit btn 
.create-button {
    margin-top: $sp-xxxl;
}

// name-form
.name-form-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-xxxl;
    justify-content: center;
}

.name-form-item {
    display: grid;
    grid-template-columns: 2fr 8fr;
    label {
        color:$grey-50;
    }
    :global(.MuiOutlinedInput-notchedOutline){
        border-color: $grey-700;
        &:hover {
            border-color: $grey-900 !important;
        }
    }
    &:hover,&:focus {
        :global(.MuiOutlinedInput-notchedOutline) {
          border-color:$grey-300;
        }
      }
}

.name-input {
    width:340px;
}

.time-input {
    width:120px;
}


// condition-card 
.condition-card {
    padding: $sp-xxxl;
    padding-right: 0;
    border-radius: $sp-sm;
    border:1px solid $grey-800;
    position: relative;
}

.menu-item {
    background-color: $grey-925;
    &:hover {
        background-color: $grey-900;
    }
    &:focus {
        background-color: $primary-800;
    }
}

.menu-item-title {
    background-color: $grey-925;
    color:$grey-400 !important;
    opacity: 1 !important;
    font-weight: 500;
    font-size: $font-md;
    padding:$sp-xs $sp-md;
}

.condition-rows {
    margin-top: $sp-sm;
    overflow-y: auto;
    display: flex;
    row-gap: $sp-xxl;
    justify-content: center;
    flex-direction: column;
}

.condition-item-container {
    display: grid;
    width:100%;
    row-gap: $sp-md;
    
}



.json-path-enabled {
    justify-content: space-between;
    .all-operators {
        align-self: flex-start;
    }
    .value-container {
        align-self: flex-end !important;
    }
}


.error-input {
    :global(.MuiInputBase-root:before){
        border-bottom:1px solid $error-500 !important;
    }
}

.condition-card-item {
    display: grid;
    align-items: center;
    grid-template-columns: 70px 2fr 1fr 2fr 0.2fr;
    align-items: flex-start;
    column-gap: $sp-lg;
    margin-right: $sp-lg;
    :global(.MuiInputBase-root:before){
        border-bottom: 1px solid $grey-700;
    }
}

.close-button-container {
    position: absolute;
    top: - $sp-sm;
    right:$sp-sm;
}

.close-button {
    cursor: pointer;
    font-size: $font-lg + 6;
}

.condition-row-1 {
    grid-template-columns: 2fr 1fr 2fr;
    align-items: flex-start;
    // padding-left: 52px;
}

.delete-card-button {
    position: absolute;
    right:$sp-xxl;
    top:-$sp-sm;
}

.delete-condition-button {
    font-size: $font-lg + 2;
    &:hover {
        color:$primary-500;
        cursor: pointer;
    }
}

.delete-condition-button-disabled {
    color:$grey-800;
    &:hover {
        color:$grey-800;
        cursor: auto;
    }
}

.add-condition-button {
    color:$primary-500;
    margin-top: $sp-lg;
    cursor: pointer;
    &:hover {
        color:$primary-600;
    }
}

// joining-select {
.joining-select-container {
    align-self: flex-start;
}
.joining-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:40px;
    column-gap: $sp-sm;
    padding:$sp-base $sp-sm;
}
.joining-select-menu {
    min-width:200px;
}
.no-button {
    cursor: auto;
}

.joining-select-menu {
    :global(.MuiPaper-root){
        margin-top: $sp-sm;
    }
    :global(.MuiList-root) {
        min-width: 300px;
    }
}

// root-condition
.root-condition-container {
   margin-bottom: $sp-lg;
}

.root-condition-selects {
    display: flex;
    column-gap: $sp-base;
}

// group by form
.group-by-selects {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base;
}
.group-by-row {
    display: grid;
    padding-bottom: $sp-md;
    grid-template-columns: 400px 300px 50px;
    align-items: center;
    column-gap: $sp-lg;
    :global(.MuiOutlinedInput-notchedOutline){
        border-color: $grey-700 !important;
        &:hover {
            border-color: $grey-300 !important;
        }
    }
    border-bottom: 1px solid $grey-900;
}

.delete-group-by-button {
    margin-top: - $sp-sm;
}

.group-by-container, .notification-form-container {
    .add-group-by-button {
        color:$primary-500;
        margin-top: $sp-xxxl;
        cursor: pointer;
        &:hover {
            color:$primary-600;
        }
    }
    p {
        color:$grey-50;
    }
}

.group-by-link {
    color:$primary-500;
    text-decoration: underline;
    cursor: pointer;
    margin-left: $sp-sm;
}

.group-by-select {
    margin-top: $sp-md;
}

// notification-form
.email-container {
    width:100%;
    margin-top: $sp-lg;
    display: flex;
    flex-direction: column;
    row-gap: $sp-sm;
    label,.slack-title {
        display: flex;
        column-gap: $sp-base;
        align-items: center;
        color:$grey-100;
    }
    input {
        background-color: $bg-dark;
        border:none;
        // border-bottom: 1px solid $grey-700;
        color:$grey-50;
        padding: $sp-sm;
        box-shadow: none;
        transition:all 0.2s ease;
    }
    input:focus {
        outline: none;
        // border-bottom: 1px solid $grey-600;
    }
}

.email-input-container {
    display: flex;
    height:40px;
    border-bottom: 1px solid $grey-700;
    align-items: center;
    column-gap: $sp-sm;
    flex-wrap: wrap;
    padding-bottom: $sp-base;
    min-width: 300px;
    form,input {
        flex:1;
        width:100%;
    }
}

.emails-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: $sp-sm;
    row-gap: $sp-sm;
    max-width: 80%;
}

.email-icon {
    font-size: $sp-lg;
}

.error-text {
    color:$error-500 !important;
}


.sampling-container {
    color:$grey-50;
    display: flex;
    column-gap: $sp-md;
    align-items: flex-end;
}

.sampling-select {
    width:100px;
}

.error-text {
    color:$error-300;
}

.checkbox-container {
    display: flex;
    align-items: center;
    column-gap: $sp-xs;
    margin-top: $sp-lg;
    font-weight: 500;

}

.json-path-input {
    // margin-top: $sp-md;
    
}
