@import "styles/variables.module.scss";
.container {
    width:1040px;
    margin-top: $sp-base * 3;
}

.cards-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 7;
}

.add-card-btn {
    margin-top: $sp-base * 7;
    display: flex;
    column-gap: $sp-base * 3;
}

.divider {
    margin: $sp-base * 7 auto;
    width: 100%;
    height:1px;
    background-color: $grey-300;
}

// submit btn 
.create-button {
    margin-top: $sp-base * 7;
}

// name-form
.name-form-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 7;
    justify-content: center;
}

.name-form-item {
    display: grid;
    grid-template-columns: 2fr 8fr;
    label {
        color:$grey-50;
    }
    :global(.MuiOutlinedInput-notchedOutline){
        border-color: $grey-700;
        &:hover {
            border-color: $grey-900 !important;
        }
    }
    &:hover,&:focus {
        :global(.MuiOutlinedInput-notchedOutline) {
          border-color:$grey-300;
        }
      }
}

.name-input {
    width:340px;
}

.time-input {
    width:120px;
}


// condition-card 
.condition-card {
    padding: $sp-base * 7;
    padding-right: 0;
    border-radius: $sp-base * 2;
    border:1px solid $grey-800;
    position: relative;
}

.condition-rows {
    margin-top: $sp-base * 2;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    row-gap: $sp-base * 6;
    justify-content: center;
    flex-direction: column;
}

.condition-card-item {
    display: grid;
    align-items: center;
    grid-template-columns: 40px 2fr 1fr 2fr 0.2fr;
    column-gap: $sp-base * 4;
    margin-right: $sp-base * 4;
    :global(.MuiInputBase-root:before){
        border-bottom: 1px solid $grey-700;
    }
}

.close-button-container {
    position: absolute;
    top: - $sp-base * 2;
    right:$sp-base * 2;
}

.close-button {
    cursor: pointer;
    font-size: $font-lg + 6;
}

.condition-row-1 {
    grid-template-columns: 2fr 1fr 2fr;
}

.delete-card-button {
    right:$sp-base * 8;
    top:$sp-base;
}

.delete-condition-button {
    font-size: $font-lg + 2;
    &:hover {
        color:$primary-500;
        cursor: pointer;
    }
}

.add-condition-button {
    color:$primary-500;
    margin-top: $sp-base * 7;
    cursor: pointer;
    &:hover {
        color:$primary-600;
    }
}

// joining-select {
.joining-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:40px;
}
.joining-select-menu {
    min-width:200px;
}
.no-button {
    cursor: auto;
}

.blue {
    background-color: #1E7BC2;
    &:hover {
        background-color: #1E7BC2;
    }
}

.purple {
    background-color: #5925DC;
    &:hover {
        background-color: #5925DC;
    }
}

.joining-select-menu {
    :global(.MuiPaper-root){
        margin-top: $sp-base * 2;
    }
    :global(.MuiList-root) {
        min-width: 300px;
    }
}

// root-condition
.root-condition-container {
    position: absolute;
    top: -$sp-base * 4;
    left: $sp-base * 4;display: flex;
    column-gap: $sp-base * 3;
    justify-content: space-between;
    width:100%;
}

.root-condition-selects {
    display: flex;
    column-gap: $sp-base * 2;
}

// group by form
.group-by-container, .notification-form-container {
    p {
        color:$grey-50;
    }
}

.group-by-link {
    color:$primary-500;
    text-decoration: underline;
    cursor: pointer;
    margin-left: $sp-base * 2;
}

.group-by-select {
    width:400px;
    margin-top: $sp-base * 3;
}

// notification-form
.email-container {
    width:100%;
    margin-top: $sp-base * 4;
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 2;
    label,.slack-title {
        display: flex;
        column-gap: $sp-base;
        align-items: center;
        color:$grey-100;
    }
    input {
        background-color: $bg-dark;
        border:none;
        // border-bottom: 1px solid $grey-700;
        color:$grey-50;
        padding: $sp-base * 2;
        box-shadow: none;
        transition:all 0.2s ease;
    }
    input:focus {
        outline: none;
        // border-bottom: 1px solid $grey-600;
    }
}

.email-input-container {
    display: flex;
    height:40px;
    border-bottom: 1px solid $grey-700;
    align-items: center;
    column-gap: $sp-base * 2;
    flex-wrap: wrap;
    padding-bottom: $sp-base;
    min-width: 300px;
    form,input {
        flex:1;
        width:100%;
    }
}

.emails-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: $sp-base * 2;
    row-gap: $sp-base * 2;
    max-width: 80%;
}

.email-icon {
    font-size: $sp-base * 4;
}

.error-text {
    color:$error-500 !important;
}
