@import "styles/variables.module.scss";

.header {
    h3 {
        color:$white;
    }
}
.container {
    display: flex;
    flex-direction: column;
    min-height:calc(100vh - $header-height - $sp-base * 30);  
}

.drawer-container {
    height:900px;
}

.map-container {
    height:300px;
    position: relative;
    border:1px solid $grey-900;
    border-radius: $sp-base * 2;
    transition: all 0.2s ease;
}

.max-map-container {
    .map-container {
        height:calc(100vh - $header-height - $sp-base * 30);  
    }
}


.incident-metadata-container {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
    span {
        font-size: $font-sm;
        color:$grey-200;
        display: flex;
        align-items: center;
        column-gap: $sp-base;
    }
}

.drawer-btn {
    position: absolute;
    top: $sp-base * 2;
    left: 0;
    z-index: 10000;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    height:44px;
    width:24px;
    padding:$sp-base * 3 $sp-base;
    transition:all 0.2s ease-in-out;
    border:1px solid $grey-700;
    border-left: none;
    &:hover,&:focus {
        border-left: none;
    }
}
.drawer-btn-open {
    left:$incident-drawer-width;
    
}
.drawer-btn-icon {
    // font-size: $sp-base * 10;
    color:$grey-50;
}

.drawer {
    :global(.MuiDrawer-paper) {
        border-right: 1px solid $grey-700;
        width:$incident-drawer-width;
        background-color: $bg-dark;
        position: absolute;
        overflow: auto;
      padding:$sp-base * 3;

      }
}

.incident-info-container {
    border-radius: 2 * $sp-base;
    border: 1px solid  $grey-900;
    margin-top: $sp-base * 4;
    min-height: 320px;
    padding:$sp-base * 5;
    transition: all 0.2s ease;
}

.span-tree-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 3;
}

.tabs-container {
    margin-top: $sp-base * 4;
}

.tab-row {
    display: flex;
    column-gap: $sp-base * 8;
    padding:$sp-base * 3 0;
    border-bottom: 1px solid $grey-900;
}

.tab-row-label {
    width:120px;
    color:$grey-100;
}

.tab-row-value {
    color:$white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.incident-nav-buttons-container {
    display: flex;
    column-gap: $sp-base * 2;
    align-items: center;
}
.incident-nav-iconbutton {
    background-color: transparent;
}

.incident-nav-button {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
}

.incident-nav-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width:16px;
    height:16px;
    > img {
        width:100%;
        height:100%;
    }
}