@import "styles/variables.module.scss";
.container {
    background-color: $grey-950;
    padding:$sp-base * 2 $sp-base * 4;
    border-radius: $sp-base;
    pre {
        margin:$sp-base;
    }
    .code {
        width:90%;
    }
    code {
        display: flex;
        justify-content:space-between;
    }
}

