@import "styles/variables.module.scss";
@import "styles/mixins";
.container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base;
}
.nav-item {
    display: flex;
    padding: $sp-md $sp-xl;
    align-items: center;
    column-gap: $sp-md;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
        background-color: $grey-900;
    }
}

.icon-container {
    @include logo-md;
}

.link-label {
    @include label-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.react-icon {
    display: flex;
    align-items: center;
    font-size: $font-xl;
}

.active {
    box-shadow: -2px 0px 0px 0px $primary-500 inset;
    background-color: $grey-900;
    .link-label {
        color:$primary-500;  
    }
    .react-icon {
        color:$primary-500;
        
    }
}

.minimized {
   .link-label {
    opacity: 0;
   }
}

.group-item-icon {
    font-size: $font-lg;
    color:$grey-200;
}

.group-items {
    display: flex;
    flex-direction: column;
}

.group-item {
    cursor: pointer;
    padding:$sp-md $sp-base * 16;
    &:hover {
        background-color: $grey-900;
    }
}

.active {
    color:$primary-500;
}