@import "styles/variables.module.scss";
.container {
    span {
        color:$grey-50;
    }
}

.scenario-title-container {
    display: flex;
    align-items: center;justify-content: space-between;
    column-gap: $sp-base * 3;
}

.new-probe-btn {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 3;
}

.source {
    display: flex;
    align-items: center;
    column-gap: $sp-base;
    >img {
        height: $sp-base * 5;
        width:$sp-base * 5;
    }
    span {
        color:$grey-50;
    }
}

.table {
    height:75vh;
    overflow-y: auto;
    border-radius: $sp-base * 2;
    margin-bottom: $sp-base * 6;
}

.pagination {
    display: flex;
    justify-content:center;
}

.probe-actions {
    display: flex;
    align-items: center;
}

.disabled {
    color:$grey-200 !important;
}