@import "styles/variables.module.scss";
.container {
    span {
        color:$grey-50;
    }
}

.scenario-title-container {
    display: flex;
    align-items: center;justify-content: space-between;
    column-gap: $sp-base * 3;
}

.scenario-title {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 3;
}

.scenario-title-chips {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
}

.new-probe-btn {
    display: flex;
    align-items: center;
    column-gap: $sp-base * 3;
}

.source {
    display: flex;
    align-items: center;
    column-gap: $sp-base;
    >img {
        height: $sp-base * 6;
        width:$sp-base * 6;
    }
    span {
        color:$grey-50;
    }
}

.table {
    height:72vh;
    overflow-y: auto;
    border-radius: $sp-base * 2;
    margin-bottom: $sp-base * 6;
}

.pagination {
    border-top: 1px solid $grey-800;
    padding-top: $sp-base * 4;
    display: flex;
    justify-content:center;
}

.probe-actions {
    display: flex;
    align-items: center;
}

.disabled {
    color:$grey-200 !important;
}