@import "styles/variables.module.scss";
@import 'styles/mixins.scss';
.container {
    height:100%;
    border-radius: $sp-base * 2;
    border:1px solid $grey-800;
    padding-bottom: $sp-base * 8;
    :global(.MuiTabs-scroller){
        overflow-x: auto !important;
    }
    h6 {
        color:$grey-50;
    }
}

.header {
    @include card-header;
}

.tabs-container {
    overflow-x: auto;
    padding:$sp-base * 2 $sp-base * 2;
    ::-webkit-scrollbar {
        display: none;
    }
}

.tab-key {
   span {
    color: $white;
    text-transform: none;
   }
}

.pods-container {
    padding:0 $sp-base * 5;
    padding-right:0;
    position: relative;
}

.time-selector-container {
    // position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-right: $sp-base * 6;
}

.pod-rows {
    display:flex;
    flex-direction: column;
    row-gap: $sp-base * 3;
    box-sizing: content-box;
    padding-right: $sp-base * 3;
    transition:all 0.3s ease;
    *::-webkit-scrollbar {
        width: 16px;
        opacity: 0;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $grey-700;
        border-radius: 8px;
        border:5px solid $bg-dark;
      }
}

.pod-row {
    display: grid;
    grid-template-columns: 1.5fr 9fr;
    padding-bottom: $sp-base * 3;
    // border-bottom: 1px solid $grey-900;
    align-items: center;
    p, span {
        color:$grey-50;
    }
}