@import "styles/variables.module.scss";
.button {
    border:none;
    background-color: $bg-dark;
    &:hover {
       border: none;
    }
}

.icon {
    color:$grey-50;
}

.disabled {
    color:$grey-600;
}