@import "styles/variables.module.scss";
.skeleton-container {
    display: grid;
    grid-template-columns: 0.5fr 9fr;
    height:100vh;
    overflow: hidden;
    column-gap: $sp-xxl;

.content {
    height:95vh;
} 
.drawer {
    height:100vh;
}
.header {
    height:5vh;
}
}


.skeleton-content {
    display: flex;
    flex-direction: column;
    row-gap: $sp-xxl;
}

.header{
    height:5%;
}