@import "styles/variables.module.scss";
@import 'styles/mixins';
.container {
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $sp-xxl;
}

.member-container {
    display: flex;
    column-gap: $sp-md;
}

.actions-container {
    display: flex;
    column-gap: $sp-md;
}

.user-button {
    @include button-icon;
}

.form-container {
    min-width: 450px;
    padding-bottom: $sp-xxl;
}

.resend-button {
    padding:$sp-base $sp-md;
}