@import "styles/variables.module.scss";
.container {
   
}

.tree-container,.table-container {
    border:1px solid $grey-800;
    border-radius: $sp-base * 2;
    
}

.tree-container {
    height:calc(100vh - $header-height - $sp-base * 52);
}

.table-container {
    height:calc(100vh - $header-height - $sp-base * 40);
}