@import "styles/variables.module.scss";
.drawer {
    :global(.MuiDrawer-paper) {
        width:600px;
        border-left: 1px solid $grey-500;
        background: $grey-950;
      }
      .add-condition-btn {
        color:$primary-500;
        cursor: pointer;
        margin-top: $sp-base * 3;
    } button {
        margin-top: $sp-base * 6;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: $sp-base * 4 $sp-base * 5;
    border-bottom: 1px solid $grey-700;
    h6 {
        font-weight: 500;
    color:$white;
    }
    .close-btn {
        width:24px;
        height:24px;
        cursor: pointer;
        > img {
            width:100%;
            height:100%;
        }
    }
}

.new-issue-btn {
    display: flex;
    column-gap: $sp-base;
    
}

.form-content {
    padding:$sp-base * 4 $sp-base * 5;
    color:$grey-25;
}

.form {
    label,p {
        color:$grey-25;
    }
}

.conditions-container {
    margin-top: 6 * $sp-base;
}

.time-select {
    margin-top: $sp-base * 3;
    display: flex;
    column-gap: $sp-base * 3;
    align-items: center;
    label {
        font-size: $font-sm + 1;
    }
}

.conditions-container {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 5;
}

.condition-row {
    display: grid;
    column-gap: $sp-base * 2;
    align-items:center;
    grid-template-columns: 0.8fr 3fr 1fr 3fr 0.5fr;
}
.start-row {
     grid-template-columns: 3fr 1fr 3fr;
}
.protocol-select, .equal-select, .service-select, .condition-select {
    width:100%;
    
}
.select-container {
    position: relative;
    label {
        color:$grey-300;
        bottom:0;
    }
}

.service-select {
    :global(.MuiMenu-paper){ 
        height: 100px !important;
        background-color: $grey-950;
    }
}

.service-select-item {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.service-select-paper {
    max-height:300px;
    width:200px;
    background-color: $grey-950;
}

.delete-row-icon {
    font-size: $font-xl;
    color:$primary-500;
    cursor: pointer;
}