@import "styles/variables.module.scss";
@import "styles/mixins";
.header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: $sp-xxl;
}
.key-button {
    @include button-icon;
}
.key-icon {
    font-size: $sp-lg;
}

.api-icons-container {
  display: flex;
  column-gap: $sp-lg;
}

.delete-button {
  @include remove-icon-btn-styles;
  color: $grey-500;
}

.visibility-toggle {
  color:$grey-400;
  &:hover {
    background-color: $grey-925;
  }
}