@import "styles/variables.module.scss";
.container {
  min-height: 100vh;
  display: flex;
}

.drawer-container {
  min-width:$main-drawer-width-mini;
  max-width: $main-drawer-width-full;
  height: 100vh;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-left {
  display: flex;
  column-gap: $sp-base * 3;
  align-items: center;
}

.header-container {
  width: 100%;
  padding: 2 * $sp-base 6 * $sp-base;
  display: flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid $grey-900 ;
}

.page-content {
  flex: 1;
  padding:6 * $sp-base;
  max-width: calc(100vw - $main-drawer-width-mini);
}
