@import "styles/variables.module.scss";
.container {
    border:1px solid $grey-900;
    border-radius: $sp-base;
    transition: all 0.1s ease;
    small {
        margin:$sp-base;
    }
    &:hover {
        border:1px solid $primary-500;
        cursor: pointer;
    }
}

.active {
    border:1px solid $primary-500;
}

.active-icon {
    color:$primary-500;
    align-self: center;
    margin-right: $sp-base * 2;
}

.bottom-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-info {
    padding:$sp-base * 2;
    display: flex;
    align-items: center;
    column-gap: $sp-base * 2;
    height:70px;
    border-bottom: 1px solid $grey-900;
}

.span-latency-time-container {
    display: flex;
    column-gap: $sp-base * 2;
    font-weight: 300;
}

.span-latency {
    font-weight: 400;
    color:$grey-200;
}

.span-path  {
    display: flex;
    flex-direction: column;
    row-gap: $sp-base * 2;
    p {
        color:$white;
    }
}